.GamesComponent{
    --dark1: rgb(115,115,115);
    --dark2: rgb(100, 100, 100);
    --dark3: rgb(75, 75, 75);
    --dark4: rgb(50, 50, 50);
    --dark5: rgb(40, 40, 40);
    --dark6: rgb(30, 30, 30);
    background-color: var(--dark6);
    color: white;
    padding: 1rem;
}
.GamesComponentTitle {
    font-size: 3.5vw;
}

.GamesSearch{
    width: fit-content;
    padding: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--dark4);
}

.GamesCards{
    display:flex;
    flex-flow: row wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
    column-gap: 2rem;
    width: 90%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--dark4);
    border: 5px solid var(--dark2);
    color: white;
}
.GameCard{
    display: flex;
    flex-flow: column;
    column-count: 1;
    column-gap: 1rem;
    justify-content: center;
    border: 3px solid var(--dark2);
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
}
.GameCardTitle{
    font-size: 0.8vw;
    text-wrap: nowrap;
    
}

.GameCardImage{
    max-width: 100%;
    width:auto;
    height: 15rem;
    object-fit:cover;

    image-resolution: 1vw;
    overflow: hidden;
    margin: auto;
    margin-bottom: 0.75rem;
    border: 5px solid var(--dark1);
}
.GamesSearchTitle{
    color: black;
}
.GamesSearchPlatform{
    color: black;
}
.GamesPageButton{
    color: black;
}

@media (min-width: 600px){
    .GameCard{
        width: 40%;
    }
}
@media (min-width: 800px) {
    .GameCard{
        width: 30%;
    }
}
@media (min-width: 1200px) {
    .GameCard{
        width: 20%;
    }
}