.Navigation{
    padding-bottom: 10px;
    background-color: blue;
}

.NavigationTitle{
    color: white;
    font-size:x-large;
    padding-top: 1rem;
}

.NavigationButtonsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: red;
}

.NavigationButton{
    color:white;
    background-color: black;
    width: auto;
    height: fit-content;
}