.Navigation{
    display: flex;
    flex-grow: 0;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    left: 0;
    right: 0;
    height:auto;
}

.NavigationTitle{
    color: white;
    font-size:30px;
}

.NavigationButtonsDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1%;
    min-width: 25%;
}

.NavigationButton {
    color:white;
    margin: 1%;
    height:auto;
}